@charset "UTF-8";

@media (min-width: 481px) and (max-width: 768px) {
    body {
        background-color: green;
        color: white;
    }
    h1 { 
        background-color: red;
        border: 1px solid black;
        border-radius: 10px;
        padding: 15px;
    }
    h2 {
        background-color: blue;
        border: 1px solid black;
        border-radius: 10px;
        padding: 15px;
    }
  }

  footer {
    background-color: blueviolet;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: right;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px red;
  }